.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile {
  width: calc(33.33% - 20px);
  height: 500px;
  margin: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.profile img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  height: 100%;
  object-fit: scale-down;
  transition: transform 0.5s ease;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-text span {
  font-size: 20px;
  cursor: pointer;
}

.profile-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: blue;
}