.custom-grid {
  margin: 5%;
  padding: 5%;
}

.product h2 {
  font-size: 60px;
  margin: 1%;
  text-align: center;
}

.product-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.product-card {
  margin: 10%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.btn-details {
  color: black;
  font-size: 20px;
}